html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div#toggle, div#menu {
  display: block;
  position: relative;
  z-index: 1;
  background: transparent;
}

div#toggle {
  top: 25px;
  left: 25px;
  width: 200px;
}

div#menu {
  top: 45px;
  left: 25px;
  width: 200px;
  height: 200px;
}

canvas#world {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
